html {
  margin: 0;
}

body {
  color: #ffffff;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(#615dad, #ffc8da);
  /* width: 100vw; */
  min-height: 100vh;
  margin: 0;

}

a {
  text-decoration: none;
}

.logo {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.first_block {
  display: flex;
  flex-direction: column;
  background-color: #283e50;
  justify-content: center;
  margin: 50px 20%;
  border-radius: 5px;
}

.first_block__header {
  font-family: 'Lobster', cursive;
  text-align: center;
}

.first_block__text {
  text-align: center;
  font-size: 0.75rem;
  padding: 0 10px 10px;
  margin-top: 0;
  line-height: 1.4;
}

.button {
  width: 100%;
  font-size: 0.75rem;
  color: #ffffff;
  background-color: #1fcca4;
  height: 35px;
  border: none;
  margin-bottom: 1px;
}

.button:hover,
.button:focus {
  background-color: #1cbb96;
  cursor: pointer;
}

.button__start {
  background-color: #0197f6;
  margin-bottom: 0px;
}

.button__start:hover,
.button__start:focus {
  background-color: #0090e9;
}

.button__icon {
  width: 27px;
  height: 27px;
  padding: 0;
  border-radius: 3px;
}

.button__game {
  margin: 0;
  padding: 0;
  border: none;
  min-width: 10px;
  min-height: 10px;
  background-color: transparent;
  border: 0.7px solid rgb(77, 75, 75);
}

.button__game:hover,
.button__game:focus {
  background-color: #ffffff20;
  cursor: pointer;
}

@media (min-width:620px) {
  .first_block {
    max-width: 400px;
    margin: 50px auto;
  }
}

.game__navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.game-container {
  max-width: 80vmin;
  justify-content: center;
  margin: 50px auto;
}

.icon {
  width: 20px;
  height: 20px;
  padding: 0;
  margin-top: 3px;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  aspect-ratio: 1/1;
  background-color: #ffffff20;
  /* border: 1px solid rgb(77, 75, 75); */

}

.board__field--circle {
  background-image: url('pictures/circle__black.svg');
  background-size: 65%;
  background-position: center;
  background-repeat: no-repeat;
}

.board__field--cross {
  background-image: url('pictures/cross__black.svg');
  background-size: 65%;
  background-position: center;
  background-repeat: no-repeat;
}
